<div>
  <h1> Customer Form </h1>
  <input id="firstName" [(ngModel)]='firstName' /><br/>
  <input id="lastName" [(ngModel)]='lastName' /><br/>
  <input id="address" [(ngModel)]='address' /><br/>
  <input id="phoneNumber" [(ngModel)]='phoneNumber' /><br/>
  <button id="create" (click)="onClick()">Create</button><br/>
  <hr/>
  <ul id="customerList">
    <li *ngFor="let customer of customers; index as i" (click)="onClickCustomer(i)">
      {{customer.firstName}} {{customer.lastName}}
    </li>
  </ul>

  <hr/>

  <div id='viewDetails' *ngIf="!editMode">
    First Name: <span id="firstNameDetail">{{customers[customerIndex]?.firstName}}</span><br/>
    Last Name: <span id="lastNameDetail">{{customers[customerIndex]?.lastName}}</span><br/>
    Address: <span id="addressDetail">{{customers[customerIndex]?.address}}</span><br/>
    Phone Number: <span id="phoneNumberDetail">{{customers[customerIndex]?.phoneNumber}}</span><br/>
    <button id="edit" (click)="onClickEdit()">Edit</button>
  </div>

  <div id='editDetails' *ngIf="editMode">
    First Name: <input id="firstNameEdit" [(ngModel)]="firstNameEditValue"/><br/>
    Last Name: <input id="lastNameEdit" [(ngModel)]="lastNameEditValue"/><br/>
    Address: <input id="addressEdit" [(ngModel)]="addressEditValue"/><br/>
    Phone Number: <input id="phoneNumberEdit" [(ngModel)]="phoneNumberEditValue"/><br/>
    <button id="update" (click)="onClickUpdate()">Update</button>
  </div>

</div>

<router-outlet></router-outlet>
